html, body {
    margin: 0;
    height: 100%;
}

body{
  font-family: 'Press Start 2P', cursive;
  background-color: #343a40e6;
  position: inherit;
  color: white;
}

/* NOMES */
.lead{
  font-size: 10px;
}

/* MEMÓRIA RAM */
.retangulo{
  height: 250px;
}

/* CPU */
.quadrado{
  height: 450px;
}


/* INPUTS */
.inputDisplay{
  color: #fff;
}
.entrada{
  width: 20%;
  float: left;
}
/* LINHA VERTICAL  */
.vr{
  border-right:1px solid #ffffff;
  height:50px;
  width: 50%;
}

/* Tabela das células de memória */
.celulasMemoria{
    width: 97%;
    margin: 0 auto;
}

.displayBin{
  width: 100%;
}
